<h1>Order with id: <%= @order.id %></h1>

<%= @order.total_price %>
<%= @order.first_name %>
<%= @order.last_name %>
<%= @order.email %>
<%= @order.address %>
<%= @order.city %>
<%= @order.zip_code %>